:root {
    --body: #D3E7F0;
    --bgColor-1: #F0F2F5;
    --bgColor-2: #034F75;
    --bgColor-3: #fff;
    --dark-color: #252733;
    --text-1:#034F75;
    --text-2: #FFFFFF;
    --text-3: #828282;
    --alt-color-1: #f6f6f6;
    --color-link-1: #4CAF50;
    --color-link-2: #E7B416;
    --color-link-3:#CC3232;
}